.contato {
    display: flex;
    flex-direction: column;
    background-color: var(--branco);

}

.contato__titulo, 
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.contato__titulo {
    margin: 1em;
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Carta.svg") no-repeat;
    padding-left: 2em;
}

.contato__mensagem-textarea {
    padding: 2em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato__mensagem {
    padding: 1em;
    margin: 2em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
    transition: 1s all;
}

.contato__mensagem:hover{
    transform: scale(1.2);
}

@media screen and (min-width:1024px) {
    .contato {
        justify-content: center;
        align-items: center;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descricao {
        width: 40%;
    }

    .contato__email {
        width: 40%;
    }   
}

@media screen and (min-width:1728px) {
        .contato {
            padding: 3em 12vw;
        }
}