hr {
    margin: 0; 
}
.rodapé {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

.lista-rodape__img{
    width: 7%;
    border-radius: 1em;
}

@media screen and (min-width:1024px) {
    .rodapé {
        display: grid;
        grid-template-columns: 20% 30% 20% 20%;
        justify-content: space-around;
    }
    
    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        padding: 1em;
    }

    .rodapé__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width:1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    .rodapé {
        padding: 3em 0;
    }
}